.show-detail-page {
  .back-link {
    color: grey;
  }

  .main-content {
    max-width: 968px;

    .main-image {
      height: 250px;
      min-width: 200px;
      background-color: lightgrey;
    }
  }
}
